header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    /* Đặt giá trị cao hơn SecondaryHeader */
}

header+header {
    margin-top: 35px;
    /* Cách khoảng để SecondaryHeader không bị đè */
}